#recipePanel {
    display: inline-flex;
    flex-direction: row;
    max-width: 80%;
}

#panelItem {
    margin: 3vh;
    padding: 2vh;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
    border-color: darkgrey;
    display: flex;
    flex-direction: column;
    height: min-content;
}

#deleteIconContainer {
    width: 100%;
    text-align: right;
}

#deleteIcon {
    margin: -1%;
    margin-top: -1.5%;
    position: absolute;
    border-radius: 10px;
}