#recipePanel {
  display: inline-flex;
  flex-direction: row;
  max-width: 80%;
  margin-top: 5%;
}

#panelItem {
  display: flex;
  flex-direction: column;
  height: min-content;
  position: relative;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  border-color: darkgrey;
}

#deleteIconContainer {
  // width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#deleteIcon {
  border-radius: 10px;
}
