.itemHeaderContainer {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  width: 97%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.itemHeaderName {
  font-size: 2rem;
  color: lightgrey;
  font-family: "IM Fell DW Pica";
  display: inline-block;
  white-space: nowrap;
}

.itemHeaderQuantity {
  font-size: 2.25rem;
}

.itemHeaderQuantityContainer {
  padding-left: 1vw;
  max-width: 7vw;
}
