.itemHeaderContainer {

    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.itemHeaderName {
    font-size: 2.75vh;
    color: lightgrey;
    font-family: 'IM Fell DW Pica';
}

.itemHeaderQuantity {
    font-size: 2.5vh;
}

.itemHeaderQuantityContainer {
    padding-left: 1vh;
    max-width: 7vh;
}
