.itemHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.itemHeaderName {
  display: inline-block;
  font-size: 1.8rem;
  color: lightgrey;
  font-family: "IM Fell DW Pica";
  line-height: 100%;
}

.itemHeaderQuantityContainer {
  display: inline-block;
  margin-left: 1rem;
}
