#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  text-align: center;
  width: 80%;
  background-color: red;
}

.mainContent {
  height: 96%;
  height: auto;
  text-align: center;
  background-color: purple;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: yellow;
}
