#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.searchContainer {
  display: inline-block;
  text-align: center;
  width: 60%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
}
