.recipeFilter {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin-right: 5%;
}

.filterButton {
  min-width: 10vw;
  border-radius: 1px;
  text-align: center;
  justify-content: center;
}

// CSS Fix for applying Flex-Wrap to MUI buttons
.filterButton {
  border-left: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.filterIcon {
  width: 2rem;
  height: 2rem;
  display: none;
}

.filterText {
  font-size: 1rem;
  white-space: pre;
}
