.itemListItem {
  padding-top: 0%;
  padding-bottom: 0%;
}

.itemNameText {
  display: inline;
}

.item {
  display: block;
  width: 100%;
  padding-left: 5%;
  margin-top: 2%;
  // background-color: red;
}
