.componentName {
    padding-left: 1vh;
}

.itemListItem {
    padding-top: 0%;
    padding-bottom: 0%;
}

.itemNameText {
    display: block;
    width: 100%;
}

.item {
    width: 100%;
    padding-left: 24px;
}