@use "components/app/app.scss";
@use "components/item/item.scss";
@use "components/item_header/item_header.scss";
@use "components/item_image/item_image.scss";
@use "components/recipe_info/recipe_info.scss";
@use "components/recipe_picker/recipe_picker.scss";
@use "components/recipe_panel/recipe_panel.scss";
@use "components/recipe_filter/recipe_filter.scss";
@use "components/about_dialog/about_dialog.scss";

@import url("https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica");

#body {
  width: 100vw;
  height: 98vh;
  background-color: #292f36;
}
